[Desktop Entry]
Type=Application
Name={{ dosbox_gog_app_name_long }}
Comment=Play {{ dosbox_gog_app_name_long }}
Exec=sh -c "{{ dosbox_root }}/dosbox.sh"
{% if dosbox_gog_desktop_img is defined %}
Icon={{ dosbox_gog_desktop_img }}
{% endif %}
Terminal=false
