[Desktop Entry]
Type=Application
Name={{ dosbox_gog_app_name_long }}
Comment=Play {{ dosbox_gog_app_name_long }}
Exec=sh -c "{{ dosbox_root }}/dosbox.sh"
Icon={{ dosbox_root }}/{{ dosbox_gog_app_name_short }}.jpg
Terminal=false
